
<!DOCTYPE html>
<html> <!--  Directive starting point, angular initialize in the block.-->
<head>
<title>Hello World, AngularJS - ViralPatel.net</title>
<script type="text/javascript" src="custom/angular.min.js"></script>

<script type="text/javascript" src="js/2dSort.js"></script>
<style>
.arrow-up
{
width:0;
height:0;
border-left:5px solid transparent;
border-right:5px solid transparent;
border-bottom:10px solid black;
display:inline-block;
background-image: url(Images/up.png);
}
.arrow-down
{
width:0;
height:0;
border-left:5px solid transparent;
border-right:5px solid transparent;
border-bottom:10px solid black;
display:inline-block;
background-image: url(Images/down.png);
}

</style>
</head>
<body >

<div ng-app="myModule">

	<div ng-controller="myController">
	
		 <table>
			<tr>
				<th ng-click="sortData('name')">Name<div ng-class="getSortClass('name')"></div></th>
				<th ng-click="sortData('dob')">Dob<div ng-class="getSortClass('dob')"></div></th>
				<th ng-click="sortData('gender')">Gender<div ng-class="getSortClass('gender')"></div></th>
				<th ng-click="sortData('salary')">Salary<div ng-class="getSortClass('salary')"></div></th>
			</tr>
			<tr ng-repeat="emp in students | orderBy:sortColumn:reverseSort">
				<td>{{emp.name}}				</td>	
				<td>{{emp.dob}}					</td>	
				<td>{{emp.gender}}					</td>	
				<td>{{emp.salary}}		</td>			
			</tr>
		</table>
	</div>
</div>
</body>

</html>

