<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
<script src="custom/angular_uncompressed.js"></script>
<script src="js/ngCustomSer.js"></script>
</head>
<body ng-app="ngSrcModule">

	<div ng-controller="ngCustomSer">
		<table>
		<tr><td>Your String</td><td><input type="text" ng-model="input"/></td></tr>
		<tr><td>Result</td><td><input type="text" ng-model="output"/></td></tr>
		<tr><td></td><td><input type="button" value="Process String" ng-click="convert(input)"/></td></tr>
		</table>
		
	</div>
	


</body>
</html>